.ios, .md {
    page-home {
        
        .scroll-content {
            background-color: map-get($colors, light);
        }

        .ion-card-header {
            font-weight: bold;
        }
    }
} 

.test {
  position:absolute;
  bottom:-20px;
  left:calc(50% - 10px);
  display:block;
}